html{height:100%;}
body {
background:#0D343A;
background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(#000000)  );
background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%);

overflow:hidden;}


.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}
.transp {
	background-color: black;
	width: 80%;
	height: auto;
	margin-top: 50px;
	margin-left: 160px;
	border-radius: 10px;
}
.topt {
	font-family: Verdana;
	font-size: 55px;
	text-align: center;
	color: white;
	margin-left: 130px;
	margin-top: 10px;
}
.img-circle {
	position: relative;
	margin-top: 80px;
	margin-left: 50px;
	width: 100px;
	height: 100px;
}

.container-fluid {
	position: relative;
}
.label{
	position: absolute;
	text-align: center;
	font-family: Courier;
	font-size: 70px;
	margin-top: 80px;
	margin-left: 80px;
	width: 50%;
	height: 100px;
}
.navbar {
	margin-top: 60px;
}

